<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{/fragments/nav}"></th:block>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-primary bg-secondary">Add category</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-secondary"
          th:object="${categoryAddBindingModel}" th:action="@{/categories/add/(id = *{restaurantId})}" method="POST"
          enctype="multipart/form-data">
        <div class="form-group badge-primary">
            <div class="label-holder text-justify d-flex justify-content-center">
                <label for="name" class="h3 mb-2">Name</label>
            </div>
            <input th:field="*{name}" th:errorclass="bg-warning" type="text" class="form-control" id="name" name="name"/>
            <small th:each="e : ${#fields.errors('name')}" th:text="${e}" class="text-error"></small>
        </div>

        <div class="form-group badge-primary">
            <div class="label-holder text-justify d-flex justify-content-center">
                <label for="imageUrl" class="h3 mb-2">Select image</label>
            </div>
            <input th:field="*{imageUrl}" th:errorclass="bg-warning" type="file" class="form-control" id="imageUrl" name="imageUrl"/>
            <small th:each="e : ${#fields.errors('imageUrl')}" th:text="${e}" class="text-error"></small>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn-group-vertical mb-3">Add</button>
        </div>
    </form>
</main>
</body>
<script src="/js/add-category.js"></script>
</html>