.w-15 {
    width: 15%;
}

.bg-gray {
    background-color: #e9ecef;
}

.bg-orange {
    background-color: #ff5215;
}

.text-error{
    background-color: #60080c;
}

body {
      background-image: url(/img/background.jpg);
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
  }

textarea {
    resize: none;
}

footer {
    position:fixed;
    bottom:0;
    width: 100%;
}

.img-thumb {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color: #ff4c02;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

